.custom-avatar-div{
    border-bottom: 2px solid #155e75; 
}

.custom-avatar{
    background: #155e75 !important;    
}

.custom-buttom-login{
    background: #155e75 !important;
}

.custom-buttom-login:hover {  
    background: #0e7490 !important;
}


.name-input-box{
    border: 2px solid #155e75; 
    border-radius: 5px;
}

