
.remove-checkout {
    cursor: pointer;
}

.tbody-checkout {
    border-bottom: 2px solid #155e75;
    font-size: 18px;
    padding-bottom: 50px;
}

.checkout-name {
    text-transform: capitalize;
}

.checkout-image {
    border-radius: 5px;
    margin: auto;
    width: 120px;
}

.span-checkout {
    cursor: pointer;
}